server:
  port: 8080


spring:
  main:
    banner: off
  application:
    name: multi-tenant-saas-starter-template

  datasource:
    url: jdbc:postgresql://localhost:5432/saas_db
    username: postgres
    password: Inaya@024
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      pool-name: SaaS-HikariCP

    jpa:
      hibernate:
        ddl-auto: validate
      open-in-view: false
      properties:
        hibernate:
          format_sql: true
          show_sql: false


    flyway:
      enabled: true
      locations: classpath:db/migration



security:
  jwt:
    secret: c362f2410c72a00f1fe4b1e38dc501a96e407423db19f0f0f5d5237322c761c41332305d276e823e135e305f756c8f9e
    expiration: 3600

